{% extends "base.html" %}
{% block title %}Buscar{% endblock %}

{% block content %}
<h1>Buscar Atletas e Atléticas</h1>

<form method="get">
    <input type="text" name="q" placeholder="Digite um nome..." value="{{ termo }}">
    <button type="submit">Buscar</button>
</form>

<hr>

<h2>Atletas</h2>
<ul>
    {% for atleta in atletas %}
        <li>
            {{ atleta.nome }} – {{ atleta.esporte }}
            <a href="/atleta/{{ atleta.id }}/">ver perfil</a>
        </li>
    {% empty %}
        <li>Nenhum atleta encontrado.</li>
    {% endfor %}
</ul>

<h2>Atléticas</h2>
<ul>
    {% for atl in atleticas %}
        <li>
            {{ atl.nome }}
            <a href="/atletica/{{ atl.id }}/">ver perfil</a>
        </li>
    {% empty %}
        <li>Nenhuma atlética encontrada.</li>
    {% endfor %}
</ul>

{% endblock %}