{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Atlética {{ atletica.nome }}</title>
</head>
<body>
    <a href="{% url 'buscar' %}">Voltar</a>
    <h1>{{ atletica.nome }}</h1>

    <p><strong>Curso:</strong> {{ atletica.curso }}</p>
    <p><strong>Universidade:</strong> {{ atletica.universidade }}</p>
    <p><strong>Ano de fundação:</strong> {{ atletica.ano_fundacao }}</p>
    <p><strong>Descrição:</strong> {{ atletica.descricao|linebreaks }}</p>

    {% if user.is_authenticated and user == atletica.dono %}
        <p><a href="{% url 'editar_atletica' atletica.pk %}">Editar atlética</a></p>
    {% endif %}
</body>
{% endblock %}
